<% layout('layouts/boilerplate') %>
<section id="Course-card">
    <div class="w-3/4 mx-auto m-10 p-8 text-[#353535] tracking-wide text-center ">
        <h1 class="text-3xl font-semibold border-b-2 pb-4 " >Your Course List</h1>
        <!-- <h1 class="mb-4 text-3xl border-b-2 pb-4 font-extrabold text-gray-900 dark:text-white md:text-5xl lg:text-6xl"><span class="text-transparent bg-clip-text bg-gradient-to-r to-emerald-600 from-sky-400">Course List</span></h1> -->
        <div class="flex flex-row flex-wrap justify-around space-y-12 mt-10">
            <%if(currentUser && currentUser.tag==='student'){
                 for(let routine of allRoutine){
                    for(let subject of routine.subject){
                        for(let section of subject.sec){    
                           if(currentUser.section===section.name){ %>
                            <div class="mt-12">
                                <a href="/courses/<%=subject._id%>/<%=section._id%>"
                                    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                                        src="/images/courseImage/<%=subject.name%>.jpg" alt="">
                                    <div class="flex flex-col justify-between p-4 leading-normal">
                                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                            <%=subject.name%> (<%=section.name%>)</h5>
                                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Welcome to this course. Here you can find 
                                            all course material. To see the course material click here .</p>
                                        <p><%=section.teacher%></p>
                                    </div>
                                </a>
                            </div>
                           <%}
                        }
                    }
                 } 
            }%>     
            <%if(currentUser && currentUser.tag==='faculty'){
                 for(let routine of allRoutine){
                    for(let subject of routine.subject){
                        for(let section of subject.sec){    
                           if((currentUser.firstname+' '+currentUser.lastname)===section.teacher){ %>
                            <div class="mt-12">
                                <a href="/courses/<%=subject._id%>/<%=section._id%>"
                                    class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                                    <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                                        src="/images/courseImage/<%=subject.name%>.jpg" alt="">
                                    <div class="flex flex-col justify-between p-4 leading-normal">
                                        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                            <%=subject.name%> (<%=section.name%>)</h5>
                                        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Welcome to this course. Here you can find 
                                            all course material. To see the course material click here .</p>
                                        <p><%=section.teacher%></p>
                                    </div>
                                </a>
                            </div>
                           <%}
                        }
                    }
                 } 
            }%>     
            <%if(currentUser && currentUser.tag==='guardian'){
                 for(let routine of allRoutine){
                    for(let subject of routine.subject){
                        for(let section of subject.sec){ 
                            for(let perticularStudent of student){
                                if((perticularStudent.guardian.username===currentUser.username) && (perticularStudent.section===section.name)){ %>
                                    <div class="mt-12">
                                        <a href="/courses/<%=subject._id%>/<%=section._id%>"
                                            class="flex flex-col items-center bg-white border border-gray-200 rounded-lg shadow md:flex-row md:max-w-xl hover:bg-gray-100 dark:border-gray-700 dark:bg-gray-800 dark:hover:bg-gray-700">
                                            <img class="object-cover w-full rounded-t-lg h-96 md:h-auto md:w-48 md:rounded-none md:rounded-l-lg"
                                                src="/images/courseImage/<%=subject.name%>.jpg" alt="">
                                            <div class="flex flex-col justify-between p-4 leading-normal">
                                                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">
                                                    <%=subject.name%> (<%=section.name%>)</h5>
                                                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400">Welcome to this course. Here you can find 
                                                    all course material. To see the course material click here .</p>
                                                <p><%=section.teacher%></p>
                                            </div>
                                        </a>
                                    </div>
                                <%}
                            }
                        }
                    }
                 } 
            }%>     
        </div>
    </div>
</section>